<form class="{{cssClass}}" autocomplete="off">

  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Nome do Personagem"/></h1>
      <div class="grid grid-3col">
        <div class="grid-span-1">
          <label>Espécie</label>
          <select name="system.biografia.especie">
            <option value="">-- Nenhuma --</option>
            {{#each especies as |especie|}}
              <option value="{{especie.name}}" {{#if (eq especie.name ../systemData.biografia.especie)}}selected{{/if}}>{{especie.name}}</option>
            {{/each}}
          </select>
        </div>
        <div class="grid-span-1">
          <label>Caminho</label>
          <input type="text" name="system.biografia.caminho" value="{{systemData.biografia.caminho}}" />
        </div>
        <div class="grid-span-1">
          <label>Nível</label>
          <input type="number" name="system.detalhes.nivel" value="{{systemData.detalhes.nivel}}" />
        </div>
      </div>
    </div>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="caracteristicas">Características</a>
    <a class="item" data-tab="habilidades">Habilidades</a>
    <a class="item" data-tab="inventario">Inventário</a>
    <a class="item" data-tab="biografia">Biografia</a>
  </nav>

  <section class="sheet-body">
    <div class="tab" data-group="primary" data-tab="caracteristicas">
      <div class="grid grid-3col">
        <div class="grid-span-1">
          <div class="box">
            <h3 class="box-header">Atributos</h3>
            <div class="grid grid-atributos-header">
              <span></span><span>Valor</span><span>M2</span><span>M5</span><span>M10</span>
            </div>
            {{#each systemData.atributos as |attr key|}}
            <div class="grid grid-atributos-row">
              <a class="rollable" data-type="atributo" data-key="{{key}}">{{key}}</a>
              <input type="number" name="system.atributos.{{key}}.valor" value="{{attr.valor}}" />
              <span>{{attr.m2}}</span><span>{{attr.m5}}</span><span>{{attr.m10}}</span>
            </div>
            {{/each}}
          </div>
          <div class="box">
            <h3 class="box-header">Recursos</h3>
            {{#each systemData.recursos as |res key|}}
              {{#if (eq key "pontosAcao")}}
                <div class="grid grid-recursos-pa">
                  <label>{{key}}</label>
                  <span>{{res.valor}} / {{res.max}}</span>
                  <label>Gastos:</label>
                  <input type="number" name="system.recursos.{{key}}.gastos" value="{{res.gastos}}" />
                </div>
              {{else}}
                <div class="grid grid-3col-small">
                  <label>{{key}}</label>
                  <input type="number" name="system.recursos.{{key}}.valor" value="{{res.valor}}" />
                  <span>/</span>
                  <input type="number" name="system.recursos.{{key}}.max" value="{{res.max}}" />
                </div>
              {{/if}}
            {{/each}}
          </div>
        </div>
        <div class="grid-span-2 box">
           <h3 class="box-header">Perícias</h3>
           <div class="grid grid-2col">
            {{#each systemData.pericias as |pericia key|}}
              <div class="grid grid-pericias-row">
                <a class="rollable" data-type="pericia" data-key="{{key}}">{{key}}</a>
                <input type="number" name="system.pericias.{{key}}.valor" value="{{pericia.valor}}" />
                <span>M2: {{pericia.m2}}</span><span>M5: {{pericia.m5}}</span>
              </div>
            {{/each}}
           </div>
        </div>
      </div>
    </div>
    <!-- O resto das abas (habilidades, inventário, etc.) continua igual ao da Fase 7 -->
    <div class="tab" data-group="primary" data-tab="habilidades">
      <div class="box">
        <h3 class="box-header">
          <span>Habilidades</span>
          <a class="item-control item-create" title="Adicionar Habilidade" data-type="habilidade"><i class="fas fa-plus"></i> Adicionar</a>
        </h3>
        <ol class="items-list">
          {{#each actor.items as |item id|}}
            {{#if (eq item.type "habilidade")}}
            <li class="item" data-item-id="{{item.id}}">
              <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
              <h4 class="item-name">{{item.name}}</h4>
              <div class="item-controls">
                <a class="item-control item-edit" title="Editar Habilidade"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Excluir Habilidade"><i class="fas fa-trash"></i></a>
              </div>
            </li>
            {{/if}}
          {{/each}}
        </ol>
      </div>
    </div>
    <div class="tab" data-group="primary" data-tab="inventario">
      <div class="box">
        <h3 class="box-header">
          <span>Armas</span>
          <a class="item-control item-create" title="Adicionar Arma" data-type="arma"><i class="fas fa-plus"></i></a>
        </h3>
        <ol class="items-list">
          {{#each actor.items as |item id|}}
            {{#if (eq item.type "arma")}}
            <li class="item" data-item-id="{{item.id}}">
              <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
              <h4 class="item-name">{{item.name}}</h4>
              <div class="item-controls">
                <a class="item-control item-edit" title="Editar Arma"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Excluir Arma"><i class="fas fa-trash"></i></a>
              </div>
            </li>
            {{/if}}
          {{/each}}
        </ol>
      </div>
      <div class="box">
        <h3 class="box-header">
          <span>Itens Gerais</span>
          <a class="item-control item-create" title="Adicionar Item" data-type="item"><i class="fas fa-plus"></i></a>
        </h3>
        <ol class="items-list">
          {{#each actor.items as |item id|}}
            {{#if (eq item.type "item")}}
            <li class="item" data-item-id="{{item.id}}">
              <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
              <h4 class="item-name">{{item.name}}</h4>
              <div class="item-controls">
                <a class="item-control item-edit" title="Editar Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Excluir Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>
            {{/if}}
          {{/each}}
        </ol>
      </div>
    </div>
    <div class="tab" data-group="primary" data-tab="biografia">
      <div class="box">
        <h3 class="box-header">Detalhes Biográficos</h3>
        {{#each systemData.biografia as |valor key|}}
          <div class="grid grid-biography">
            <label>{{key}}</label>
            <textarea name="system.biografia.{{key}}" rows="3">{{valor}}</textarea>
          </div>
        {{/each}}
      </div>
    </div>
  </section>
</form>